In [1]:
import pandas as pd

df1 = pd.read_csv('tips.csv')
df1.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
df1['小費比例'] = df1['小費'] / df1['總票價']

In [2]:
def top(df, n=5,column='小費比例'):
    return df.sort_values(by=column,ascending=False).iloc[:n]

top(df1)

       總票價    小費  吸煙者   日期      時間  大小      小費比例
172   7.25  5.15  Yes  Sun  Dinner   2  0.710345
178   9.60  4.00  Yes  Sun  Dinner   2  0.416667
67    3.07  1.00  Yes  Sat  Dinner   1  0.325733
232  11.61  3.39   No  Sat  Dinner   2  0.291990
183  23.17  6.50  Yes  Sun  Dinner   4  0.280535

In [3]:
list(df1.groupby('吸煙者'))

[('No',
         總票價    小費 吸煙者    日期      時間  大小      小費比例
  0    16.99  1.01  No   Sun  Dinner   2  0.059447
  1    10.34  1.66  No   Sun  Dinner   3  0.160542
  2    21.01  3.50  No   Sun  Dinner   3  0.166587
  3    23.68  3.31  No   Sun  Dinner   2  0.139780
  4    24.59  3.61  No   Sun  Dinner   4  0.146808
  ..     ...   ...  ..   ...     ...  ..       ...
  235  10.07  1.25  No   Sat  Dinner   2  0.124131
  238  35.83  4.67  No   Sat  Dinner   3  0.130338
  239  29.03  5.92  No   Sat  Dinner   3  0.203927
  242  17.82  1.75  No   Sat  Dinner   2  0.098204
  243  18.78  3.00  No  Thur  Dinner   2  0.159744

  [151 rows x 7 columns]),
 ('Yes',
         總票價    小費  吸煙者   日期      時間  大小      小費比例
  56   38.01  3.00  Yes  Sat  Dinner   4  0.078927
  58   11.24  1.76  Yes  Sat  Dinner   2  0.156584
  60   20.29  3.21  Yes  Sat  Dinner   2  0.158206
  61   13.81  2.00  Yes  Sat  Dinner   2  0.144823
  62   11.02  1.98  Yes  Sat  Dinner   2  0.179673
  ..     ...   ...  ...  ...     ...  ..       ...
  234  15.53  3.00  Yes  Sat  Dinner   2  0.193175
  236  12.60  1.00  Yes  Sat  Dinner   2  0.079365
  237  32.83  1.17  Yes  Sat  Dinner   2  0.035638
  240  27.18  2.00  Yes  Sat  Dinner   2  0.073584
  241  22.67  2.00  Yes  Sat  Dinner   2  0.088222

  [93 rows x 7 columns])]

In [4]:
df1.groupby('吸煙者').apply(top)

/tmp/ipykernel_59177/2704321095.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df1.groupby('吸煙者').apply(top)

           總票價    小費  吸煙者    日期      時間  大小      小費比例
吸煙者
No  232  11.61  3.39   No   Sat  Dinner   2  0.291990
    149   7.51  2.00   No  Thur   Lunch   2  0.266312
    51   10.29  2.60   No   Sun  Dinner   2  0.252672
    185  20.69  5.00   No   Sun  Dinner   5  0.241663
    88   24.71  5.85   No  Thur   Lunch   2  0.236746
Yes 172   7.25  5.15  Yes   Sun  Dinner   2  0.710345
    178   9.60  4.00  Yes   Sun  Dinner   2  0.416667
    67    3.07  1.00  Yes   Sat  Dinner   1  0.325733
    183  23.17  6.50  Yes   Sun  Dinner   4  0.280535
    109  14.31  4.00  Yes   Sat  Dinner   2  0.279525

In [ ]:
import numpy as np
frame = pd.DataFrame({'data1':np.random.randn(1000),
                      'data2':np.random.randn(1000)})
frame

In [6]:
quartiles = pd.cut(frame.data1,4)

In [7]:
list(frame.data2.groupby(quartiles))

/tmp/ipykernel_59177/2900926345.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  list(frame.data2.groupby(quartiles))

[(Interval(-2.751, -1.301, closed='right'),
  3      0.808896
  20     0.205474
  29    -1.577075
  34     1.985476
  45    -0.846638
           ...
  967   -0.613733
  975    1.816423
  988   -0.068585
  991   -0.501138
  993   -0.703658
  Name: data2, Length: 92, dtype: float64),
 (Interval(-1.301, 0.143, closed='right'),
  0     -2.578593
  1     -0.887071
  2     -2.206015
  4      1.489715
  7     -0.236485
           ...
  978    1.174329
  980    0.029050
  981    0.213575
  984   -0.227041
  987    0.702824
  Name: data2, Length: 444, dtype: float64),
 (Interval(0.143, 1.587, closed='right'),
  6     -0.192781
  13     2.038828
  14     0.465232
  15     0.644101
  23    -1.337711
           ...
  994    1.055126
  995   -0.789468
  996   -1.490784
  997   -0.694466
  998   -1.480339
  Name: data2, Length: 398, dtype: float64),
 (Interval(1.587, 3.031, closed='right'),
  5     -0.461026
  32    -1.363613
  52    -0.151713
  70    -1.411531
  80     0.317425
           ...
  942   -1.296276
  949    0.225293
  951    0.142883
  983    0.245770
  999   -0.573831
  Name: data2, Length: 66, dtype: float64)]